/* allgemein, damit voreinstellung von browers nicht ünernommen wird */
html, body {
    margin: 0;
    padding: ;
}

/* Kopf- & Fußbereich */
header, footer{
    width: 100%;
    height: auto;
    text-align: center;
    background-color: lightgreen;
}

/* body, schriftgröße und alternative */
body {
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    font-size: 12pt;
    hyphens: auto;
    background-color: lightgray;
}
/* erstmal ausblenden */
#ergebnis {
    display: none;
}

#neu {
    display: none;
}