/* allgemein, damit voreinstellung von browers nicht ünernommen wird */
html, body {
    margin: 0;
    padding: ;
}

/* Kopf- & Fußbereich */
header{
    width: 100%;
    height: auto;
    text-align: center;
    background-color: lightgreen;
}

footer{
    width: 100%;
    height: auto;
    text-align: center;
    background-color: lightgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
}


/* body, schriftgröße und alternative */
body {
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    font-size: 12pt;
    hyphens: auto;
    background-color: lightgray;
}

/* erstmal ausblenden */
#ergebnis {
    display: none;
}

#neu {
    display: none;
}

th {
    border: 1px solid #000; /* Fügt 1 Pixel breite Rahmenlinien hinzu */
    padding: 8px; /* Optional: Fügt Innenabstand hinzu */
    text-align: center; /* Optional: Zentriert den Text in den Zellen */
}

tr{
    display: inline-block;
    border: 1px solid lightgreen;
    margin: 1em;
    padding: 2em;
}

